/* nav related styles */
nav{
    display: flex;
    align-content: center;
    justify-content: space-between;
    margin: 0px 70px;

}
.nav title{
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}
nav >ul {
    display: flex;
    
}
nav li{
    list-style: none;
    margin-right: 50px;
    align-content: center;
}
nav a{
    text-decoration: none;
    color: #474747;
}

/* commn shared styles */
body{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;

}
.text-primary{
    color: #FD6E0A;
    
}
.button-primary{
    border-radius: 5px;
    background: #FD6E0A;
    border: 0px;
    color: #FFFFFF;
    padding: 8px 15px;
    
}
/* header related styles  */
.header{
    background-color: #FFF8F3;
   
}
.banner{
    padding: 30px 90px 30px 120px;
    display: flex;
    align-items: center;
}
.header img{
    width: 584px;
    height: 676px
}